* {
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;

/*    box-sizing: border-box;
    -ms-box-sizing: border-box;*/
}

body{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.clear{
	clear: both;
}


/*-------------------------HEADER PAGE--------------------------------*/

/****SOCIAL ICONS*****/
.header{
	height: 100vh;

	display: flex;
	flex-flow: column;
}

.header-contact-social{
	background-color: #1976D3;
	color: #FFFFFF;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header-wrapper{
	/*display: flex;*/
	width: 1200px;
	/*margin: 0 auto;*/
	/*align-items: center;*/
}

.contact-wrapper{
	display: flex;
	margin-right: 15px;
	float: left;
}

.contact-wrapper p{
	margin-left: 10px;
	font-weight: 300;
}

.social-icons{
	float: right;
	/*position: relative;*/
}

.social-icon-bg:hover{
	background-color: #f95d5a;
	cursor: pointer;
}

.social-icon-bg:hover > i{
	color: white;
}

.social-icons i{
	color: #1F95F1;
}

.social-icon-bg{
	float: right;
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50px;
	margin: 0 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/****MENU****/
.nav{
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.logo{
	width: 190px;
	float: left;
	align-items: center;
	justify-content: flex-start;
}

.flex-menu{
	display: flex;
	float: right;
	width: 600px;
}

.main-menu{
	float: left;
	margin-top: 5px;
}

.main-menu li{
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}

.main-menu li a{
	color: #000000;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 500;
}

.main-menu li a:hover, .main-menu li a:focus{
	color: #f95d5a;
}

.search{
	float: right;
	/*width: 15px;*/
	margin-left: 25px;
	/*margin-top: 5px;*/
	border-radius: 50%;
	background-color: #f95d5a;
}

.search i{
	color: #FFFFFF;
	padding: 10px;
	font-weight: 300;
}


/*******BACKGROUND header*******/
.header-about{
/*	background-image: url("img/header-bg.jpg");*/
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	flex: 1;
}


/******HEADER ABOUT*******/
header{
	/*position: relative;*/
}

.header-about{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.h1{
	text-transform: uppercase;
	line-height: 1.6em;
	font-size: 2.5em;
	font-weight: 500;
}

.h1-blue{
	color: #03a9f4;
}

.h1-white{
	color: #FFFFFF;
}

.h1-description{
	color: #FFFFFF;
	/*margin-bottom: em;*/
}

.learn-more-position{
	position: absolute;
	/*top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)*/
    top: 350px;
    right: 600px;
}

.learn-more-look{
	width: 150px;
	height: 50px;
	background-color: #2095f2;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
}


@media screen and (max-width: 480px){
	.header{
		width: 480px;
	}
	.header-contact-social{
		flex-flow: row;
	}
}