* {
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;

    box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.clear{
	clear: both;
}


/*----------------HEADER PAGE-------------*/
.header-contact-social{
	background-color: #1976D3;
	color: #FFFFFF;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header-wrapper{
	/*display: flex;*/
	min-width: 1200px;
	/*align-items: center;*/
}

.contact-wrapper{
	display: flex;
	margin-right: 15px;
	float: left;
}

.contact-wrapper p{
	margin-left: 10px;
	font-weight: 300;
}

.social-icons{
	float: right;
	/*position: relative;*/
}

.social-icons i{
	color: #1F95F1;
}

.social-icon-bg{
	float: right;
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50px;
	margin: 0 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}